
*{ 
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing : border-box;
  
}

body{ 
    background-color: #24282c;

}

#dirt {
    background-image: url(treximages/dirt.jpg);
    padding-top: 20px;
    padding-bottom: 75px;
}

#dirt h6{
    color: rgb(242, 239, 220);
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 3vw;
    font-weight: 300;
}

#dirtContainer {
    width: 54vw;
    height: 50vw;
    background-color: #4c311d;
    margin-left: auto;
    margin-right: auto;
}

#dirtContainer img {
    padding-left: 1vw;
     position: absolute;
    left: 0.5;
    height: 55vw;
    width: 57vw;
}

#dinoCanvas {

 position: absolute;

 width: 54vw;
 height: 50vw;

}

.trexHeader {
  
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
#trexHeaderLogo {
    margin-top: 3.5px;
    height: 5vw;
    margin-right: 2vw;
    margin-left: 1vw;
    top: 0;
    position: absolute;
    left: 0;
}
.trexHeader a{
    font-size: 2.2vw;
    margin-top:7vw;
    margin-right: 40vw;
}

#runningTrex {
    height: 8vw;
    padding-bottom: 17px;
}

#trexTitle {
    height: 40.1vw;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    background-image: url(treximages/volcanoTrex.jpg);
    background-size: contain;
    width: 100%;
    opacity: 80%;
    padding-top: 15vw;
    padding-bottom: 15vw;
    color: rgb(243, 243, 243);
}

#nameHead {
    margin-top: 12vw;
    height: 9.2vw;
    background-color: #141414;
    opacity: 70%;
    font-size: 2vw;
    padding-top: 1vw;
}

#dig {
margin-left: 40vw;
height: 7vw;
}

.trexfacts {
    height: 120vw;
    background-color: #5B6B78;
}
.trexfacts h2{
    text-align: center;
    font-size: 2.4vmin;
    font-weight: 500;
    color: #293b41;
}
.factHolderTrex {
    height: 28vw;
    
    display: flex;
    flex-direction: row;
}
.factHolderTrex img{
    height: 27vw;
    margin-top: 1vw;
    margin-left: 2vw;
    border-radius: 5px;
}


.trexFactBoxL {
    width: 45vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    margin-bottom: 2.5vw;
    background-color: #46626a;
    border-radius: 10px;
}
.trexFactBoxR {
    width: 45vw;
    background-color: #5E7782;
    margin-top: 2vw;
    margin-bottom: 2.5vw;
     margin-left: 11vw;
    margin-right: 8vw;
    border-radius: 10px;
}
.trexFactBoxR h4 {
 font-size: 2.6vw;
 text-align: center;
 font-weight: 700;
}

.trexFactBoxL h4 {
font-size: 2.6vw;
 text-align: center;
 font-weight: 700;
}

.trexFactBoxL h5 {
padding-top: 1vw;
text-align: center;
font-size: 2vw;
font-weight: 450;
}
.trexFactBoxR h5{
padding-top: 1vw;
text-align: center;
font-size: 2vw;
font-weight: 450;
}

#trexHome{
 width: 5vw;
  height: 2.2vmax;
  background-color: #212529;
  font-weight: 620;
  color: #ADB5BD;
  text-align: center;
  border: 0px;
  border-radius: 25px;
  font-size: 1.3vw;
  position: absolute;
  margin-top: 1.5vw;
  margin-left: 7vw;
  top: 0;
  left: 0;
}
#trexHome:active {
  background-color: #495057;
}

.trexButtonHolder{
    display: inline-flex;
    flex-direction: row;
}
