.spinosaurs{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:90vmin;
        height:90vmin;
       
    }
.spinoborder {
 border: 3px outset #081400;
 display: inline-block;
 height: 90 vmin;
}
.intro{

    display:flex;
    flex-direction: row;
    gap:20px;
    padding:5px;
    margin: 0 auto;
}
.introtext{
    font-family: 'Helvetica', monospace;
    font-size: 2.2vw;
    line-height: 2;

    border-radius: 15px;
}
.Facts{
    font-family: 'Courier New', monospace;
    font-size: 2.2vw;
    line-height: 100%;

    border-radius: 15px;
}
.spinopic{
    padding-top: 25%;
    padding-bottom: 25%;
}
.spinosaurskel{
    width:100%;
    height:100%;
    border: 3px outset #081400;
    height: 90 vmin;
}
.spinopara{
    font-family: 'Helvetica', monospace;
    font-size: 2.2vw;
    line-height: 2.4;

    border-radius: 15px;

}

.FlexParent{
    display: flex;
    flex-wrap: wrap;
}

.FlexChild{
    flex: 1;
}