body {
        background-color:darkolivegreen
    }

.spinotext{
            width: 100%;
            display: block;
            text-align: center;
            color:rgb(160, 36, 36);
        }
        .spinoheadname{
            height:55px;
            width: 81.2vw;
            background-color: white;
            opacity:40%;
            font-size: 3.3vmin;
            position: absolute;
            margin-top: 303.3px;
            margin-left: 8vw;
            margin-right: 8vw;
            top: 0;
            
        }
.triceratext{
            width: 100%;
            display: block;
            text-align: center;
            color:rgb(160, 36, 36);
            position: absoulute;
            bottom: 10px;
            left:10px;

        }
        .trceraheadname{
            height:55px;
            width: 81.2vw;
            background-color: white;
            opacity:40%;
            font-size: 3.3vmin;
            position: absolute;
            margin-top: 303.3px;
            margin-left: 8vw;
            margin-right: 8vw;
            top: 0;

        }

.spino{
    display:block;
    margin-left:8vw;
    margin-right:8vw;
    width:81.2vw;
    height:350px;
}
.tricera{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:81.2vw;
            height:350px;
        }
        .trex{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:81.2vw;
            height:350px;

        }
        .spinotext{
            position: absoulute;
            bottom: 10px;
            left:10px;
            transform: translate(-50%, 100);
        }

.pos-centered{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}